<main>
    <div class="bg-light py-5 text-center">
      <h1 class="roboto display-3 fw-bold">Contact</h1>
    </div>
    <div class="container bg-light my-5 p-5 rounded-3">
      <form action="">
        <h5 class="roboto fw-bold">Name:</h5>
        <input type="text" class="form-control mb-3">
        <h5 class="roboto fw-bold">Email:</h5>
        <input type="text" class="form-control mb-3">
        <h5 class="roboto fw-bold">Message:</h5>
        <textarea cols="30" rows="10" class="form-control mb-3"></textarea>
        <button class="btn btn-dark">Submit</button>
      </form>
    </div>
  </main>
