<main>
  <div class="bg-light py-5 text-center">
    <h1 class="roboto display-3 fw-bold">Recursos y Herramientas</h1>
  </div>

  <p style="text-align: center; font-size: 24px;">
    <b>| La clave está en que no pierdas la paciencia y vayas probando |</b>
  </p>
  <p style="text-align: center; font-size: 19px;">
    Nos complace ofrecerte un conjunto de ejemplos completos de recursos diseñados para potenciar y hacer crecer tu
    negocio.
  </p>

  <style>
    /* Estilo para centrar la imagen */
    #contenedorImagen {
      text-align: center;
    }
  </style>
  <!-- Contenedor para centrar la imagen -->
  <div id="contenedorImagen">
    <!-- Imagen centrada -->
    <img src="assets\imagenes\recursosYherramientas.png">
  </div>
  <br>

  <p style="text-align: center; font-size: 19px;">
    ¡Nosotros te proporsionamos estas valiosas fuentes que hemos preparado pensando en el fortalecimiento de tu negocio. ¡Estamos aquí para
    respaldarte en cada paso de tu viaje empresarial!
  </p>

  <!-- Page Content-->
  <section class="pt-4">
    <div class="container px-lg-5">
      <!-- Page Features-->
      <div class="row gx-lg-5">
        <div class="col-lg-6 col-xxl-4 mb-5">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                  class="bi bi-collection"></i></div>
                  <img src="assets\imagenes\tips\1cup.png" width="200" height="200">
              <h2 class="fs-4 fw-bold">Haz una propuesta ganadora</h2>
              <p class="mb-0">Ofrecer un gran producto/servicio para aumentar y generar ventas online.</p><br>
              <p class="mb-0">Revisar y mejorar la propuesta si es posible.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xxl-4 mb-5">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                  class="bi bi-cloud-download"></i></div>
                  <img src="assets\imagenes\tips\2clock.png" width="200" height="200">
              <h2 class="fs-4 fw-bold">Incrementa el sentido de urgencia</h2>
              <p class="mb-0">Estimular una sensación de urgencia para persuadir a los clientes potenciales.</p> <br>
              <p class="mb-0">Crear una sensación de urgencia con ofertas y productos de edición limitada.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xxl-4 mb-5">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                  class="bi bi-card-heading"></i></div>
                  <img src="assets\imagenes\tips\3photos.png" width="200" height="200">
              <h2 class="fs-4 fw-bold">Muestra imágenes y vídeos increíbles</h2>
              <p class="mb-0">El consumidor es muy exigente y antes de realizar una compra online quiere ver el producto
                desde todos los ángulos posibles. </p>
                <br>
              <p class="mb-0">No olvides que una imagen vale más que mil palabras. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xxl-4 mb-5">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                  class="bi bi-bootstrap"></i></div>
                  <img src="assets\imagenes\tips\4diamond.png" width="200" height="200">
              <h2 class="fs-4 fw-bold">Muestra tu propuesta de valor al público</h2>
              <p class="mb-0">Centra todas tus campañas de marketing en cómo tus productos/servicios resolverán los
                problemas del cliente, enfocándote en relevancia, valor cuantificable y diferenciador.
              </p>
              <br>
              <p class="mb-0">Haz que tu propuesta de valor sea el centro del contenido de tu sitio web para atraer a los clientes.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xxl-4 mb-5">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-code"></i>
              </div>
              <img src="assets\imagenes\tips\5chatbot.png" width="200" height="200">
              <h2 class="fs-4 fw-bold">Implementa un Chat en directo o un Chatbot</h2>
              <p class="mb-0">Ofrecer un gran producto/servicio para aumentar y generar ventas online</p>
              <br>
              <p class="mb-0">Revisar y mejorar la propuesta si es posible</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xxl-4 mb-5">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                  class="bi bi-patch-check"></i></div>
                  <img src="assets\imagenes\tips\6email.png" width="200" height="200">
              <h2 class="fs-4 fw-bold">Haz campañas de Email Marketing segmentadas</h2>
              <p class="mb-0">Ofrecer un gran producto/servicio para aumentar y generar ventas online</p><br>
              <p class="mb-0">Revisar y mejorar la propuesta si es posible</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>