<div class="chat-container">
  <div class="chat-header">
    <h2 class="text-center text-left">💻 SiLoValeGPT 💻</h2>

    <div class="text-center">
      <p class="chat-description">¿Tienes preguntas sobre estrategias de marketing, campañas publicitarias o cómo
        mejorar tu presencia online? ¡Estamos aquí para ayudarte! Escribe tu pregunta y comencemos a potenciar tu
        negocio.</p>
    </div>

  </div>
  <div class="chat-log">
    <div *ngFor="let message of chatLog" class="chat-message">
      <p>{{ message }}</p>
    </div>
  </div>

  <div class="botones-container">
    <button class="boton-accion">¿Cómo puedo medir el éxito de mi estrategia de marketing?</button>
    <button class="boton-accion">Quiero 5 ideas sobre como puedo mejorar mis ventas</button>
    <button class="boton-accion">¿Cuáles son las herramientas de apoyo que debo utilizar para mejorar mi negocio local?</button>
    <button class="boton-accion">¿Cómo lograr que mi negocio tenga más visibilidad?</button>
</div>

  <div class="chat-input">
    <input [(ngModel)]="userInput" class="input-field" placeholder="Escribe un mensaje..." />
    <button (click)="sendMessage()" class="send-button">Enviar</button>
  </div>
</div>