	<!-- Footer -->
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-sm-6">
				<div class="single-box">
					
					<img src="assets/imagenes/newlogo.png" width="240" class="logo">
				
				
				
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="single-box">
					<h2></h2>
				<ul>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>

				</ul>
				</div>                    
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="single-box">
					<h2>Contacto</h2>
				<ul>
					<li><a href="#"><i class="bi bi-telephone-fill"></i> 963852147</a></li>
					<li><a href="#">Silovale@hotmail.com</a></li>
					<li><a href="#">Av.América Oeste 789</a></li>

				</ul>
				</div>                    
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="single-box">
					<h2></h2>
					<p></p>
					<p>Silovale 2023 ©</p>
					<h2>Redes Sociales</h2>
					<p class="socials">
						<i class="fa fa-facebook px-2"></i>
						<i class="fa fa-dribbble px-2"></i>
						<i class="fa fa-pinterest px-2"></i>
						<i class="fa fa-twitter px-2"></i>
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/js/bootstrap.min.js">

	<!-- End Footer -->