	<!-- Footer -->
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-sm-6">
				<div class="single-box">
					
					<img src="assets/imagenes/newlogo.png" width="150" class="logo">
				
				
				
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="single-box">
					<h2>Servicios</h2>
				<ul>
					<li><a href="#">Catering</a></li>
					<li><a href="#">Repostería</a></li>
					<li><a href="#">Pastelería</a></li>
					<li><a href="#">Asesoramiento</a></li>

				</ul>
				</div>                    
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="single-box">
					<h2>Compañia</h2>
				<ul>
					<li><a href="Quienes Somos.html">Nuestro equipo</a></li>
					<li><a href="#">Portfolio</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="Contactanos.html">Contáctanos</a></li>

				</ul>
				</div>                    
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="single-box">
					<h2>Derechos</h2>
					<p>Derechos reservados.</p>
					<p>Silovale 2023 ©</p>
					<h2>Siguenos</h2>
					<p class="socials">
						<i class="fa fa-facebook px-2"></i>
						<i class="fa fa-dribbble px-2"></i>
						<i class="fa fa-pinterest px-2"></i>
						<i class="fa fa-twitter px-2"></i>
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/js/bootstrap.min.js">

	<!-- End Footer -->