<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
</head>

<body class="h-screen items-center justify-center" style="background: #edf2f7;">
    <div class="h-full flex flex-col bg-gray-100 dark:bg-gray-700 shadow-xl overflow-y-scroll">

        <div class="bg-white">
            <div class="flex  rounded-b-3xl bg-white-100 dark:bg-white-700 space-y-5 flex-col items-center py-7">
                <img class="h-28 w-28 rounded-full" src="assets\imagenes\diana.jfif"
                    alt="User">
                <a href="#"> <span class="text-h1">Diana Chanta</span></a>
            </div>
            <div class="grid px-7 py-2  items-center justify-around grid-cols-3 gap-4 divide-x divide-solid ">
                <div class="col-span-1 flex flex-col items-center ">
                    <span class="text-2xl font-bold dark:text-gray-500">5</span>
                    <span class="text-lg font-medium 0">Productos</span>
                </div>
                <div class="col-span-1 px-3 flex flex-col items-center ">
                    <span class="text-2xl font-bold dark:text-gray-500">
                        Lugar</span>
                    <span class="text-lg font-medium">Trujillo</span>
                </div>
                <div class="col-span-1 px-3 flex flex-col items-center ">
                    <span class="text-2xl font-bold dark:text-gray-500">
                        54</span>
                    <span class="text-lg font-medium">Ventas</span>
                </div>
            </div>

        </div>

        <div
            class="grid rounded-2xl divide-y divide-dashed hover:divide-solid bg-gray-500 dark:bg-gray-300 m-5 mt-15 grid-cols-3">
            <div class="col-span-1  p-3">
                <div class="flex flex-col items-center ">
                    <a href="statistics"> <button class="tr-300">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14 text-gray-500" fill="none"
                                viewBox="-7 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M0 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5z" />
                            </svg>
                            <span class="text-lg font-medium">Estadísticas</span>
                        </button></a>
                </div>
            </div>

            <div class="col-span-1  p-3">
                <div class="flex flex-col items-center ">
                    <a href="blog"> <button class="tr-300">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14 text-gray-500" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
                            </svg>
                            <span class="text-lg font-medium">Productos</span>
                        </button></a>
                </div>
            </div>
            <div class="col-span-1  p-3">
                <div class="flex flex-col items-center ">
                    <a href="events"> <button class="tr-300">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14 text-gray-500" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z" />
                            </svg>
                            <span class="text-lg font-medium">Eventos</span>
                        </button></a>
                </div>
            </div>
            <div class="col-span-1  p-3">
                <div class="flex flex-col items-center ">
                    <a href="chatbot">
                        <button class="tr-300">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14 text-gray-500" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                            </svg>
                            <span class="text-lg font-medium">SiLoValeGPT</span>
                        </button></a>
                </div>
            </div>
            <div class="col-span-1  p-3">
                <div class="flex flex-col items-center ">
                    <a href=""> <button class="tr-300">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14 text-gray-500" fill="none"
                                viewBox="0 0 21 21" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5" />
                            </svg>
                            <span class="text-lg font-medium">Compartir</span>
                        </button></a>
                </div>
            </div>
            <div class="col-span-1  p-3">
                <div class="flex  flex-col items-center ">
                    <a href=""> <button class="tr-300">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14 text-gray-500" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2z" />
                            </svg>
                            <span class="text-lg font-medium">Dinero</span>
                        </button></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>