<main>
    <div style="background-color: #dce8f1">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-lg-6 text-center text-lg-start text-white d-flex align-items-center justify-content-center">
                    <div>
                        <h1>Crea tu tienda online y</h1>
                        <h1 class="textito">genera publicidad</h1>
                        <h1>para tu negocio </h1>
                        <p>Haz crecer tu negocio gracias a nuestra nueva herramienta para publicidad en sólo 3 clics.</p>
                        <a href="Shopping Cart.html">Ver más</a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 text-center text-lg-start">
                    <img src="./assets/imagenes/imagen1hd.png" width="500" class="img-fluid">
                </div>
            </div>	
        </div>
    </div>
    <div class="container my-5">
        <div class="d-flex align-items-center justify-content-between bg-light mb-3 p-3">
            <h2 class="m-0 roboto text-danger roboto fw-bold">Popular Posts</h2>
            <a href="/blog.html" class="btn btn-outline-danger">View All <i class="fas fa-arrow-right"></i></a>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center justify-content-center mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://source.unsplash.com/1280x720" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold roboto">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        <a href="#" class="btn btn-danger">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center justify-content-center mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://source.unsplash.com/1280x720" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold roboto">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        <a href="#" class="btn btn-danger">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center justify-content-center mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://source.unsplash.com/1280x720" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold roboto">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        <a href="#" class="btn btn-danger">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center justify-content-center mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://source.unsplash.com/1280x720" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold roboto">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        <a href="#" class="btn btn-danger">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
