<main>
    <div style="background-color: #dce8f1">
        <div class="container py-5">
            <div class="row">
                <div
                    class="col-12 col-lg-6 text-center text-lg-start text-white d-flex align-items-center justify-content-center">
                    <div>
                        <h1>Crea tu tienda online y</h1>
                        <h1 class="textito">genera publicidad</h1>
                        <h1>para tu negocio </h1>
                        <p>Haz crecer tu negocio gracias a nuestra nueva herramienta para publicidad en sólo 3 clics.
                        </p>
                        <a class="nav-link" href="#" [routerLink]="['/registro']">Empezar</a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 text-center text-lg-start">
                    <img src="/assets/imagenes/imagen1hd.png" width="460" class="img-fluid">
                </div>
            </div>
        </div>
    </div>



    <section id="service" class="newBox">
        <div class="text-center">
            <div class="container">
                <div class="heading text-center">
                    <!-- Heading -->
                    <h2>Beneficios de Silovale</h2>
                    <p></p>
                </div>
                <div class="row animatedParent">
                    <!--<div class="col-xs-12 col-sm-4 col-md-4">-->
                    <div class="col-md-4">
                        <div class="service-box">
                            <div class="service-icon">
                                <img src="assets/imagenes/n1.svg" width=60px>
                            </div>
                            <div class="service-desc">
                                <h5>Incremento de visitas</h5>
                                <div class="divider-header"></div>
                                <p>
                                    Incrementa la visitas
                                    vendiendo tus productos en nuestra web
                                    y comienza a ganar clientes<br />
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-box">
                            <div class="service-icon">
                                <img src="assets/imagenes/n2.svg" width=60px>
                            </div>
                            <div class="service-desc">
                                <h5>Personaliza tus plantillas</h5>
                                <div class="divider-header"></div>
                                <p>
                                    Personaliza tus platillas
                                    para crear publicidad y
                                    con las mejores herramientas en línea<br />
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-box">
                            <div class="service-icon">
                                <img src="assets/imagenes/n3.svg" width=60px>
                            </div>
                            <div class="service-desc">
                                <h5>Genera publicidad en redes</h5>
                                <div class="divider-header"></div>
                                <p>
                                    Genera publicidad
                                    para tu negocio
                                    de forma sencilla sin necesidad de realizar pagos <br />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <div style="background-color: #ffffff">
        <div class="container py-5">
            <div class="row">
                <div
                    class="col-12 col-lg-12 text-center text-lg-start text-white d-flex align-items-center justify-content-center">
                    <div class="col-15 col-lg-15 text-center text-lg-start">
                        <img src="./assets/imagenes/imagen2.png" width="220" class="img-fluid">
                    </div>

                    <div>
                        <h1>Crea anuncios con</h1>
                        <h1 class="textito">¡Sólo 3 clics!</h1>
                        <p>Haz crecer tu negocio gracias a nuestra nueva herramienta para publicidad en sólo 3 clics.
                        </p>
                        <a href="Shopping Cart.html" [routerLink]="['/login']">Probar ahora</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="row">
        <div
            class="col-12 col-lg-6 text-center text-lg-start text-white d-flex align-items-center justify-content-center">
            <div>
                <h1 class="textito">Nuestra Misión</h1>
                <p>Proporciona una visión más completa a la problemática de los negocios locales
                </p>
                <a class="nav-link" [routerLink]="['/mision']">Ver Misión</a>
            </div>
        </div>
        <div class="col-12 col-lg-6 text-center text-lg-start">
            <img src="assets\imagenes\NuestraMisionEntrada.png"  class="img-fluid">
        </div>
    </div>
    
    <br>    <br>