<!DOCTYPE html>
<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <h2> Registrarse en SiLoVale</h2>
      <main class="col-md-5">
        <br>
        <section class="row widgets justify-content-between"></section>
        <form method="get" action="#">
          <input type="submit" class="fadeIn fifth" value="Registrarme como vendedor">
          </form>
      </main>
      <div class="v-line">
        <aside class="col-md-5">
          <form method="get" action="#">
          <input type="submit" class="fadeIn fifth" value="Registrarme como comprador">
          </form>
        </aside>
      </div>
    </div>
  </div>
</body>