<div class="rectangle9"></div>
<div class="rectangle25"></div>
<div class="registrarmeComoComprador">
  <div class="textBlock">Registrarme como</div>
  <div class="textBlock2">comprador</div>
</div>
<div class="rectangle24"></div>
<div class="registrarmeComoVendedor">
  <div class="textBlock3">Registrarme como</div>
  <div class="textBlock4">vendedor</div>
</div>
<div class="inicio">
  <p class="labelWrapper">
    <span class="label">Inicio</span>
    <span class="label2">      >    </span>
  </p>
</div>
<div class="registrarse">Registrarse</div>
