<!DOCTYPE html>
<body>
  <div class="wrapper fadeInDown">
    <h2> Registrarse en SiLoVale</h2>
    <div id="formContent">
      <div>
        <form method="get" action="#">
          <input type="submit" class="fadeIn fifth" href="registroVendedor" value="Registrarme como vendedor">
          </form>
        </div>

        <div>
          <form method="get" action="#">
          <input type="submit" class="fadeIn fifth" href="registroComprador" value="Registrarme como comprador">
          </form>
        </div>
      </div>
  </div>
</body>