<!DOCTYPE html>
<body>
  <div class="wrapper fadeInDown">

    <div id="formContent">
      <h2> Registrarse en SiLoVale</h2>
      <div class="row">
          <div class="col-md-5">
            <form method="get" action="registrovendedor" id="form1">
              <input type="submit" class="fadeIn fifth" value="Registrarme como vendedor">
            </form>
          </div>
          <div class="col-md-5">
            <form method="get" action="registrocomprador" id="form2">
              <input type="submit" class="fadeIn fifth" value="Registrarme como comprador">
            </form>
          </div>
      </div>
    </div>
  </div>
</body>
