:host,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

:host,
:not(span, a, ul, ol, li, p) {
  display: flex;
}

ul,
ol {
  text-indent: 0;
  padding-inline-start: 1.5em;
}

p:empty::before {
  content: '';
  display: inline-block;
}

img {
  object-fit: contain;
}

svg {
  overflow: visible;
}

:host {
  position: relative;
  width: 1623px;
  height: 1289px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.rectangle9 {
  position: absolute;
  left: 221px;
  top: 435px;
  width: 1261px;
  height: 604px;
  border-radius: 50px;
  background-color: #f0e5f1;
}
.rectangle25 {
  position: absolute;
  left: 885px;
  top: 539px;
  width: 423px;
  height: 396px;
  border-radius: 30px;
  background-color: #e9e4e4;
}
.registrarmeComoComprador {
  position: absolute;
  left: 938px;
  top: 687px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock {
  color: #000;
  font-size: 40px;
  font-weight: 500;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #000;
  font-size: 40px;
  font-weight: 500;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle24 {
  position: absolute;
  left: 395px;
  top: 539px;
  width: 423px;
  height: 396px;
  border-radius: 30px;
  background-color: #e9e4e4;
}
.registrarmeComoVendedor {
  position: absolute;
  left: 443px;
  top: 687px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock3 {
  color: #000;
  font-size: 40px;
  font-weight: 500;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  margin-top: 0;
  color: #000;
  font-size: 40px;
  font-weight: 500;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.inicio {
  position: absolute;
  left: 159px;
  top: 296px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper {
  font-size: 32px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #000;
  font-size: 32px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-decoration: underline;
}
.label2 {
  color: #000;
  font-size: 32px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.registrarse {
  color: #000;
  font-size: 32px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-decoration: underline;
  position: absolute;
  left: 305px;
  top: 296px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
