<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <h2> Restaurar Contraseña</h2>
      <main class="col-md-12">
        <section class="row widgets justify-content-between"></section>
        <!-- Tabs Titles -->

        <!-- Login Form -->
        <form>
          <h3>Introduzca la dirección de correo electrónico verificada de su cuenta de usuario y le enviaremos un enlace
            para restablecer la contraseña.</h3>
          <input type="text" id="Correo" class="fadeIn second" name="" placeholder="Ingresa tu Correo Electrónico">
          <form method="get" action="passwordrecovery2">
            <input type="submit" class="fadeIn fourth" value="Aceptar">
          </form>
        </form>
      </main>
    </div>
  </div>
</body>


