<body>
  <div class="container">

  <!--PERFÍL-->
    <div class="row">

      <main class="col-auto">
        <div >
          <img src="./assets/imagenes/subir.png">
        </div>
      </main>

      <section class="col-auto">
        <div>
          <button class="btn" type="submit">Editar Perfil</button>
        </div>

        <div>
          <label for="razon-social">Razon Social</label>
          <input type="text" id="razon-social" name="razon-social">
        </div>

        <div>
          <label for="telefono">Telefono</label>
          <input type="tel" id="telefono" name="telefono">
        </div>
      </section>

    </div>


  <!--PRODUCTOS-->
    <div class="row">
      <div class="col-auto">
        hola
      </div>
      <div class="col-auto">
        hola
      </div>
      <div class="col-auto">
        hola
      </div>
    </div>

  </div>

</body>
