<body>
  <div class="container">

  <!--PERFÍL-->
    <div class="row">

      <main class="col-auto">
        <div >
          <img class="imgper" src="./assets/imagenes/subir.png">
        </div>
      </main>

      <section class="col-auto">
        <div>
          <button class="btn" type="submit">Editar Perfil</button>
        </div>

        <div>
          <label for="razon-social">Razon Social</label>
          <input type="text" id="razon-social" name="razon-social" readonly=readonly>
        </div>

        <div>
          <label for="telefono">Telefono</label>
          <input type="tel" id="telefono" name="telefono" readonly=readonly>
        </div>
      </section>

    </div>


  <!--PRODUCTOS-->
    <div class="row">
      <div class="col-md-4">
        <div class="service-box">
          <button class="delete" type="button">Eliminar</button>
          <button class="add" type="button">Editar</button>
          <div class="service-icon">
              <img src="./assets/imagenes/airpodspro.webp" width=300px>
          </div>
          <div class="service-desc">
              <h3>AirPods (3ra generación)</h3>
              <div class="divider-header"></div>
              <p>
                Audio espacial personalizado con seguimiento dinámico de la cabeza, para que disfrutes un sonido envolvente.
                Ajuste universal.
                Sensor de fuerza para controlar lo que escuchas y responder o finalizar llamadas.
                Resistencia al agua y al sudor: AirPods y estuche de carga.
                Estuche de carga Lightning o estuche de carga MagSafe.
                Hasta 6 horas de reproducción de audio.
                Hasta 30 horas de reproducción de audio en total.
                Acceso rápido a Siri con sólo decir “OyeSiri”.<br/>
              </p>
          </div>
          <h3>Compartir en: </h3>
          <div class="divredsocial">
            <a href="https://www.facebook.com/sharer/sharer.php?u=[url]"><button class="redsocial" type="button"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/2048px-2021_Facebook_icon.svg.png" width="50px"></button></a>
            <a href="https://twitter.com/intent/tweet?text=[text]&url=[url]&hashtags=[hashtag]"><button class="redsocial" type="button"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Logo_of_Twitter.svg/512px-Logo_of_Twitter.svg.png" width="50px"></button></a>
            <a href="https://api.whatsapp.com/send?text=[text]"><button class="redsocial" type="button"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/512px-WhatsApp.svg.png" width="50px"></button></a>
          </div>
      </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
            <button class="delete" type="submit">Eliminar</button>
            <button class="add" type="submit">Editar</button>
          <div class="service-icon">
            <img src="./assets/imagenes/airpodspro.webp" width=300px>
          </div>
          <div class="service-desc">
              <h3>Audifonos Beats</h3>
              <div class="divider-header"></div>
              <p>
                Los audífonos con cancelación de ruido Beats Studio3 Wireless en el llamativo color Defiant Black-Red combinan un diseño elegante con un sonido excepcional.
                Con tecnología inalámbrica Bluetooth, cancelación de ruido y una batería de larga duración, estos auriculares de diadema inalámbricos te brindan una experiencia auditiva sin interrupciones y libertad de movimiento.
                Disfruta de graves potentes, medios claros y agudos definidos con los audífonos Beats Studio3 Wireless.<br/>
              </p>
          </div>
          <h3>Compartir en: </h3>
          <div class="divredsocial">
            <a href="https://www.facebook.com/sharer/sharer.php?u=[url]"><button class="redsocial" type="button"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/2048px-2021_Facebook_icon.svg.png" width="50px"></button></a>
            <a href="https://twitter.com/intent/tweet?text=[text]&url=[url]&hashtags=[hashtag]"><button class="redsocial" type="button"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Logo_of_Twitter.svg/512px-Logo_of_Twitter.svg.png" width="50px"></button></a>
            <a href="https://api.whatsapp.com/send?text=[text]"><button class="redsocial" type="button"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/512px-WhatsApp.svg.png" width="50px"></button></a>
          </div>

      </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <button class="delete" type="submit">Eliminar</button>
          <button class="add" type="submit">Editar</button>
          <div class="service-icon">
              <img src="./assets/imagenes/subir.png" width=60px>
          </div>
          <div class="service-desc">
              <h5>Personaliza tus plantillas</h5>
              <div class="divider-header"></div>
              <p>
                  Personaliza tus platillas
                  para crear publicidad y
                  con las mejores herramientas en línea<br/>
              </p>
          </div>
      </div>
      </div>
    </div>

  </div>

</body>
