.container{
  background: #f0e5f1;
  border-radius: 15px;
  padding-bottom: 150px;
  margin-bottom: 50px;
}
.row {
  display: flex;
  justify-content: center;
  margin: 25px;
}

.divredsocial{
  display: flex;
  justify-content: space-between;
}
.redsocial{
  margin-right: 20px;
}

.verest{
  margin: 20px;
}
.btn-estadistica:hover{
  background-color: #56baed;
}

.btn-estadistica{
  float: right;
  margin-right: 30px;
  padding: 10px;
  border: 2px solid #0d0d0d;
  border-radius: 4px;
}

.imgper{
  cursor: pointer;
  transition: transform 0.3s;
}

.row section{
margin-left: 150px;
}

.btn{
  background: #92b5d8;
  margin-top: 40px;
  display:block;
  margin-left:294px;
  margin-right:auto;
  border: 2px solid #0d0d0d;
  font-weight: 1000;
}

.btn:hover{
  background: #56baed;
  color: white;
}

.add, .delete{
  border-radius: 4px;
}

.row main div img {
  width: 250px;
  border: 2px solid #333;
  border-radius: 15px;
  margin-top: 50px;
}

.row section div {
  margin-bottom: 15px;
}

.row section label {
  display: block;
  margin-bottom: 5px;
}

.row section input {
  width: 400px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  /* Otros estilos según tus necesidades */
}

.add{
  display: inline-block;
  background: #92b5d8;

  display:inline-block;
  margin-left:200px;
  margin-bottom: 20px;
  border: 2px solid #0d0d0d;
  padding: 5px;
}
.delete{
  display: inline-block;
  background: #92b5d8;

  display:inline-block;
  margin-left: 20px;
  border: 2px solid #0d0d0d;
  padding: 5px;
}
.divredsocial{
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;
}

.redsocial {
  border: 2px solid rgba(255, 0, 0, 0);
  border-radius: 50%;
}

.add:hover, .delete:hover{
  background: #56baed;
  color: white;
}
.service-box {
	background: #EFEDED;
    border-radius: 3%;
	padding: 40px 20px;
  margin: 30px auto;
}

.service-box:hover {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin-top: -10px;
}

.service-icon {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;
  margin-bottom: 20px;
}

.service-desc .divider-header {
	margin-bottom: 30px;
}

