<body>
  <div class="container">
  <!--PERFÍL-->
    <div class="row">
      <main class="col-auto">
        <button type="submit">Mi Botón</button>
        <div >
          <img src="./assets/imagenes/subir.png">
        </div>
      </main>

      <section class="col-auto">
        holagoladdddddddddddddddddddddddddddddddddddddddddddddddddddd
      </section>
    </div>
  <!--PRODUCTOS-->
    <div class="row">
      <div class="col-auto">
        hola
      </div>
      <div class="col-auto">
        hola
      </div>
      <div class="col-auto">
        hola
      </div>
    </div>

  </div>

</body>
