<!DOCTYPE html>
<body>
<div class="container">

    <div class="formContent">
      <div>
        <h1 class="text-center"> Registrate como Comprador</h1>

         <h3>__________________________________________________</h3>

          <form>

            <div>
              <h3>Nombres:</h3>
              <input type="text" id="Nombres" class="fadeIn second" name="login" placeholder="Nombres" required>
            </div>

            <div>
              <h3>Apellido Paterno:</h3>
              <input type="text" id="ApellidoP" class="fadeIn second" name="login" placeholder="Apellido Paterno" required>
            </div>

            <div>
              <h3>Apellido Materno:</h3>
              <input type="text" id="ApellidoM" class="fadeIn second" name="login" placeholder="Apellido Materno" required>
            </div>

            <div>
              <h3>DNI:</h3>
              <input type="text" id="RUC" class="fadeIn second" name="login" placeholder="Documento de Identidad" required>
            </div>

            <div>
              <h3>Correo Electronico:</h3>
              <input type="text" id="Correo" class="fadeIn second" name="login" placeholder="Correo Electrónico" required>
            </div>

            <div>
              <h3>Contraseña:</h3>
              <input type="password" id="password" class="fadeIn third" name="login" placeholder="Contraseña" required  pattern=".{8,}" title="Debe tener al menos 8 caracteres">
            </div>

            <div>
            <input type="checkbox" id="tyc" name="tyc" value="false" class="andes-checkbox__input" required> Acepto los <a href="htwww.google.com">terminos y condiciones</a>
            </div>

            <input type="submit" class="btnCrearcuenta" value="Crear cuenta">
          </form>
      </div>
    </div>

</div>
</body>
