<main>
  <div class="bg-light py-5 text-center">
    <h1 class="roboto display-3 fw-bold">Misión</h1>
  </div>

  <p style="text-align: center; font-size: 24px;">
    Una plataforma en línea para respaldar y promover pequeños
    negocios locales en la comunidad
  </p>

</main>

<style>
  /* Estilo para centrar la imagen */
  #contenedorImagen {
    text-align: center;
  }
</style>

<body>
  <!-- Contenedor para centrar la imagen -->
  <div id="contenedorImagen">
    <!-- Imagen centrada -->
    <img src="assets\imagenes\PersonasVentasSiLoVale.png">
  </div>
  <br>

  <body>
    <div class="contenedor">
      <style>
        /* Estilo para el subtítulo */
        #subtitulo {
          text-align: left;
          margin: 0 auto;
          /* Esto centra el texto horizontalmente dentro del contenedor */
          max-width: 1000px;
          /* Puedes ajustar el ancho máximo según tus preferencias */
        }


      </style>
      <br>
      <h2 id="subtitulo"><b>Nuestra Cultura</b></h2>
      <br>
      <br>


      <div class="container">
        <div class="row">
          <!-- Característica 1 -->
          <div class="col-md-3">
            <img src="assets\imagenes\icons\culture.png" width="100" height="100" alt="Imagen 1">
            <h2><b>Excelencia</b></h2>
            <p>Tenemos un protocolo para realizar nuestras tareas, prestando atención a los detalles y adoptando las
              mejores metodologías. </p>
          </div>

          <!-- Característica 2 -->
          <div class="col-md-3">
            <img src="assets\imagenes\icons\excellence.png" width="100" height="100" alt="Imagen 2">
            <h2><b>Trabajo en equipo</b></h2>
            <p>Creamos ambientes propicios para compartir, intercambiar y mejorar nuestras ideas</p>
          </div>

          <!-- Característica 3 -->
          <div class="col-md-3">
            <img src="assets\imagenes\icons\messages.png" width="100" height="100" alt="Imagen 3">
            <h2><b>Atención de calidad</b></h2>
            <p>Damos oído a la comunidad y dirigimos nuestros esfuerzos pensando en aquellos que utilizan Pency</p>
          </div>

          <!-- Característica 4 -->
          <div class="col-md-3">
            <img src="assets\imagenes\icons\passion.png" width="100" height="100" alt="Imagen 3">
            <h2><b>Pasión</b></h2>
            <p>Sentimos pasión por nuestra labor. Nos impulsa descubrir soluciones que simplifiquen y hagan más
              placentero tu trabajo</p>
          </div>
        </div>
        <br>
        <br>

