<body>
<div class="wrapper fadeInDown" >
  <div id="formContent">
    <h2> Inicia Sesion en SiLoVale</h2>
    <main class="col-md-6">  
    <section class="row widgets justify-content-between"></section>
    <!-- Tabs Titles -->
    
      


    <!-- Login Form -->
    <form>
      <h3>Correo Electronico:</h3>
      <input type="text" id="Correo" class="fadeIn second" name="login" placeholder="Correo Electronico">
      <br>
      <h3>Contraseña:</h3>
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
      <br>
      <a class="underlineHover" href="#">Forgot Password?</a>
      <br>
      <input type="submit" class="fadeIn fourth" value="Iniciar Sesion">
    </form>

      
    </main>
    <div class="v-line">
    
    <aside class="col-md-4">
      <br>
      <input type="button" class="fadeIn fifth" value="Inicia Sesion con Google">
    </aside>
  </div>
  <div id="formFooter">
    <h3>¿Aun no tienes cuenta? <a class="underlineHover" href="#">Registrate</a></h3>
  </div>
  </div>
</div>
</body>