<!-- component -->
<div class="mx-auto bg-gray-700 h-screen flex items-center justify-center px-8">
  <div class="flex flex-col w-full bg-white rounded shadow-lg sm:w-3/4 md:w-1/2 lg:w-3/5">
    <div class="w-full h-64 bg-top bg-cover rounded-t"
      style="background-image: url(https://i.pinimg.com/originals/63/36/22/633622dc8935af759a177e83f6f9f3cc.png)"></div>
    <div class="flex flex-col w-full md:flex-row">
      <div
        class="flex flex-row justify-around p-4 font-bold leading-none text-white-800 uppercase bg-gray-400 rounded md:flex-col md:items-center md:justify-center md:w-1/4">
        <div class="md:text-3xl">Dic</div>
        <div class="md:text-6xl">25</div>
        <div class="md:text-xl">7 pm</div>
      </div>
      <div class="p-4 font-normal text-white-800 md:w-3/4">
        <h1 class="mb-4 text-4xl font-bold leading-none tracking-tight text-gray-800">Fiesta de Luces Invernales: Un
          Viaje Mágico</h1>
        <p class="leading-normal">Pasea por senderos iluminados, descubre esculturas de luz que cobran vida y disfruta
          de una selección única de alimentos y bebidas de temporada. Los más pequeños quedarán fascinados con la visita
          de Santa Claus y sus elfos, mientras que los espectáculos de música en vivo y los talleres de artesanía
          navideña deleitarán a visitantes de todas las edades. No te pierdas esta experiencia inolvidable, perfecta
          para crear recuerdos familiares y celebrar la magia de la temporada.</p>
        <div class="flex flex-row items-center mt-4 text-gray-700">
          <div class="w-1/2">
            Emprendedor Bruno Rocha 
          </div>
          <div class="w-1/2 flex justify-end">
            <img src="https://collegefootballplayoff.com/images/section_logo.png" alt="" class="w-8">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>