<body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <h2> Elige una contraseña nueva </h2>
        <main class="col-md-12">
          <section class="row widgets justify-content-between"></section>
          <!-- Tabs Titles -->

          <!-- Login Form -->
          <form>
            <h3>Crea una contraseña nueva de seis caracteres como mínimo. Una contraseña segura tiene una combinación de letras, números y signos de puntuación..</h3>
            <input type="text" id="Correo" class="fadeIn second" name="" placeholder="Ingresa tu nueva Contraseña">
            <form method="get" action="#">
            <input type="submit" class="fadeIn fourth" action="#" value="Aceptar">
          </form>
          </form>
        </main>

        </div>
      </div>
</body>
