<main>
    <div class="bg-light py-5 text-center">
      <h1 class="roboto display-3 fw-bold">Blog</h1>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="card mb-3">
                <img src="https://source.unsplash.com/random/1920x1080" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title roboto fw-bold">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
                    This content is a little bit longer.</p>
                  <button class="btn btn-outline-dark mb-5">Continue Reading</button>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="card mb-3">
                <img src="https://source.unsplash.com/random/1920x1080" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title roboto fw-bold">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
                    This content is a little bit longer.</p>
                  <button class="btn btn-outline-dark mb-5">Continue Reading</button>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="card mb-3">
                <img src="https://source.unsplash.com/random/1920x1080" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title roboto fw-bold">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
                    This content is a little bit longer.</p>
                  <button class="btn btn-outline-dark mb-5">Continue Reading</button>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="card mb-3">
                <img src="https://source.unsplash.com/random/1920x1080" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title roboto fw-bold">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
                    This content is a little bit longer.</p>
                  <button class="btn btn-outline-dark mb-5">Continue Reading</button>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="bg-light rounded-3 p-3">
            <h4 class="roboto">Search</h4>
            <input type="text" class="form-control mb-5" placeholder="Search...">

            <h4 class="roboto">Categories</h4>
            <div class="list-group mb-5">
              <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                The current link item
              </a>
              <a href="#" class="list-group-item list-group-item-action">A second link item</a>
              <a href="#" class="list-group-item list-group-item-action">A third link item</a>
              <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">A disabled link
                item</a>
            </div>
            
            <h4 claas="roboto">Popular Posts</h4>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h6 class="mb-0">List group item heading</h6>
                    <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
                  </div>
                  <small class="opacity-50 text-nowrap">now</small>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h6 class="mb-0">Another title here</h6>
                    <p class="mb-0 opacity-75">Some placeholder content in a paragraph that goes a little longer so it wraps to a
                      new line.</p>
                  </div>
                  <small class="opacity-50 text-nowrap">3d</small>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h6 class="mb-0">Third heading</h6>
                    <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
                  </div>
                  <small class="opacity-50 text-nowrap">1w</small>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
