<main>
  <div class="bg-light py-5 text-center">
    <h1 class="roboto display-3 fw-bold">Catálogo de Productos</h1>
  </div>
  <div class="container mt-2">
    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="card mb-3">
              <img src="assets\imagenes\productos\adornosdenavidad.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title roboto fw-bold">Decoraciones de Grinchs para Navidad </h5>
                <p class="card-text">S/. 19.90</p>
                <button class="btn btn-outline-dark mb-5">Agregar al Carrito</button>
                <p class="card-text"><small class="text-muted">Juego de adornos para árbol de Navidad más completo de
                    Grinch: recibirás 20 adornos distintos para árbol de Navidad de Grinch, con 15 diseños únicos, cada
                    adorno mide alrededor de 3 x 4 pulgadas, combinado con 20 cuerdas colgantes doradas fáciles de
                    instalar.</small></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card mb-3">
              <img src="assets\imagenes\productos\cochecontrolremotomoderno.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title roboto fw-bold">Tecnock Coche de control remoto para niños</h5>
                <p class="card-text">S/. 99.90</p>
                <button class="btn btn-outline-dark mb-5">Agregar al Carrito</button>
                <p class="card-text"><small class="text-muted">Este coche de juguete está diseñado con función de
                    conducción todoterreno de doble
                    cara, capaz de realizar una serie de acrobacias y movimientos impresionantes, no solo capaces de
                    rotación de 360°, sino que también es capaz de girar 180°</small></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card mb-3">
              <img src="assets\imagenes\productos\estatuadepajaroscute.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title roboto fw-bold">Estatuas de pájaros para decoración del hogar</h5>
                <p class="card-text">S/. 54.00</p>
                <button class="btn btn-outline-dark mb-5">Agregar al Carrito</button>
                <p class="card-text"><small class="text-muted">Esta figura rústica de pájaro está inspirada en la forma
                    de un petirrojo; el diseñador utiliza líneas simples para delinear el pájaro petirrojo. Diseño
                    simple pero vívido que agrega vitalidad a su espacio.</small></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card mb-3">
              <img src="assets\imagenes\productos\fundaparaportatil.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title roboto fw-bold">Funda para portátil de 14 pulgadas </h5>
                <p class="card-text">S/. 49.90</p>
                <button class="btn btn-outline-dark mb-5">Agregar al Carrito</button>
                <p class="card-text"><small class="text-muted">Diseñado con tres capas de protección para proporcionar
                    protección completa para su portátil. La capa exterior de la funda para laptop de 14 pulgadas está
                    hecha de material de nailon resistente al agua y a los arañazos, que puede proteger eficazmente tu
                    computadora</small></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card mb-3">
              <img src="assets\imagenes\productos\hamsterparlate.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title roboto fw-bold">Hámster parlante repite lo que dices </h5>
                <p class="card-text">S/. 69.90</p>
                <button class="btn btn-outline-dark mb-5">Agregar al Carrito</button>
                <p class="card-text"><small class="text-muted">El hámster parlante puede seguir y repetir cualquier voz
                    con su propia voz divertida, no importa que nadie hable, ría, cante o grite.</small></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card mb-3">
              <img src="assets\imagenes\productos\juegodetoallasnegras.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title roboto fw-bold">Juego 8 de toallas negras </h5>
                <p class="card-text">S/. 949.90</p>
                <button class="btn btn-outline-dark mb-5">Agregar al Carrito</button>
                <p class="card-text"><small class="text-muted">Cada juego contiene 2 toallas de baño de gran tamaño de
                    27 x 54 pulgadas, 2 toallas de mano de 16 x 28 pulgadas y 4 toallas de 13 x 13 pulgadas
                  </small></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card mb-3">
              <img src="assets\imagenes\productos\lamparademesaluna.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title roboto fw-bold">Lámpara de mesa con forma de luna </h5>
                <p class="card-text">S/. 949.90</p>
                <button class="btn btn-outline-dark mb-5">Agregar al Carrito</button>
                <p class="card-text"><small class="text-muted">Toca para cambiar el color (blanco y amarillo) y ajustar
                    el brillo. Mantén presionado para habilitar la función atenuada. Viene en una caja de regalo, listo
                    para regalar.
                  </small></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card mb-3">
              <img src="assets\imagenes\productos\mandoxboxjoker.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title roboto fw-bold">Modelo de control Xbox Custom </h5>
                <p class="card-text">S/. 949.90</p>
                <button class="btn btn-outline-dark mb-5">Agregar al Carrito</button>
                <p class="card-text"><small class="text-muted">Modelo de compatibilidad: Ultra compatible con Xbox
                    Series X/S, Xbox Core Controller (Modelo 1914); no compatible con mandos Xbox One. Comprueba la
                    segunda imagen del anuncio antes de comprar
                  </small></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card mb-3">
              <img src="assets\imagenes\productos\portarretratosparaobradearte.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title roboto fw-bold">Portarretratos para obra de arte </h5>
                <p class="card-text">S/. 949.90</p>
                <button class="btn btn-outline-dark mb-5">Agregar al Carrito</button>
                <p class="card-text"><small class="text-muted">Cada uno de estos marcos de exhibición para obras de arte
                    de niños está hecho con molduras de madera compuesta y cubiertas de vidrio resistentes a las
                    roturas. </small></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card mb-3">
              <img src="assets\imagenes\productos\soportepara2pantallas.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title roboto fw-bold">Soporte de escritorio para monitor doble </h5>
                <p class="card-text">S/. 949.90</p>
                <button class="btn btn-outline-dark mb-5">Agregar al Carrito</button>
                <p class="card-text"><small class="text-muted">2 brazos de monitor con más comodidad de visión: obtenga
                    un mejor ángulo de visión para mejorar la comodidad del cuello, los hombros y la espalda. Los brazos
                    articulados de este brazo de monitor dual tienen una altura máxima de 16.3 pulgadas por encima del
                    escritorio.</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>